USE [master]
GO
/****** Object:  Database [QLNS]    Script Date: 1/21/2024 3:28:46 PM ******/
CREATE DATABASE [QLNS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLNS.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLNS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLNS_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNS]
GO
/****** Object:  Table [CHITIETHOADON]    Script Date: 1/21/2024 3:28:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CHITIETHOADON](
	[MAHOADON] [char](7) NOT NULL,
	[MASACH] [char](7) NULL,
	[SOLUONG] [int] NULL,
	[GIATIEN] [int] NULL,
	[THANHTIEN] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [HOADON]    Script Date: 1/21/2024 3:28:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [HOADON](
	[MAHOADON] [char](7) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NULL,
	[NGAYLAP] [datetime] NULL,
	[TONGTIEN] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [KHO]    Script Date: 1/21/2024 3:28:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [KHO](
	[MASACH] [char](7) NOT NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [LINHVUC]    Script Date: 1/21/2024 3:28:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LINHVUC](
	[TENLINHVUC] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TENLINHVUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [LOAISACH]    Script Date: 1/21/2024 3:28:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOAISACH](
	[TENLOAISACH] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TENLOAISACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [NHAXUATBAN]    Script Date: 1/21/2024 3:28:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NHAXUATBAN](
	[TENNHAXUATBAN] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TENNHAXUATBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [SACH]    Script Date: 1/21/2024 3:28:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SACH](
	[MASACH] [char](7) NOT NULL,
	[TENSACH] [nvarchar](100) NULL,
	[MATG] [char](7) NOT NULL,
	[TENLINHVUC] [nvarchar](30) NULL,
	[TENLOAISACH] [nvarchar](30) NULL,
	[GIAMUA] [int] NULL,
	[GIABIA] [int] NULL,
	[LANTAIBAN] [int] NULL,
	[TENNHAXUATBAN] [nvarchar](50) NULL,
	[NAMXUATBAN] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [TACGIA]    Script Date: 1/21/2024 3:28:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [TACGIA](
	[MATG] [char](7) NOT NULL,
	[TENTG] [nvarchar](40) NULL,
	[NAMSINH] [date] NULL,
	[NAMMAT] [date] NULL,
	[QUEQUAN] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [TAIKHOAN]    Script Date: 1/21/2024 3:28:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAIKHOAN](
	[USERNAME] [nvarchar](20) NOT NULL,
	[PASS_WORD] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [CHITIETHOADON] ([MAHOADON], [MASACH], [SOLUONG], [GIATIEN], [THANHTIEN]) VALUES (N'HD00001', N'SA00001', 2, 34000, 68000)
INSERT [CHITIETHOADON] ([MAHOADON], [MASACH], [SOLUONG], [GIATIEN], [THANHTIEN]) VALUES (N'HD00001', N'SA00003', 1, 45000, 45000)
INSERT [CHITIETHOADON] ([MAHOADON], [MASACH], [SOLUONG], [GIATIEN], [THANHTIEN]) VALUES (N'HD00001', N'SA00002', 1, 30000, 30000)
INSERT [HOADON] ([MAHOADON], [TENKHACHHANG], [NGAYLAP], [TONGTIEN]) VALUES (N'HD00001', N'Việt', CAST(N'2023-05-16 20:43:56.733' AS DateTime), CAST(432000.00 AS Decimal(10, 2)))
INSERT [HOADON] ([MAHOADON], [TENKHACHHANG], [NGAYLAP], [TONGTIEN]) VALUES (N'HD00002', N'Hải', CAST(N'2023-05-17 10:14:51.900' AS DateTime), CAST(319000.00 AS Decimal(10, 2)))
INSERT [HOADON] ([MAHOADON], [TENKHACHHANG], [NGAYLAP], [TONGTIEN]) VALUES (N'HD00003', N'Quý', CAST(N'2023-05-17 10:24:40.357' AS DateTime), CAST(220000.00 AS Decimal(10, 2)))
INSERT [KHO] ([MASACH], [SOLUONG]) VALUES (N'SA00001', 3)
INSERT [KHO] ([MASACH], [SOLUONG]) VALUES (N'SA00002', 6)
INSERT [KHO] ([MASACH], [SOLUONG]) VALUES (N'SA00003', 5)
INSERT [LINHVUC] ([TENLINHVUC]) VALUES (N'Công nghệ')
INSERT [LINHVUC] ([TENLINHVUC]) VALUES (N'Hóa học')
INSERT [LINHVUC] ([TENLINHVUC]) VALUES (N'Kĩ năng sống')
INSERT [LOAISACH] ([TENLOAISACH]) VALUES (N'Tham Khảo')
INSERT [LOAISACH] ([TENLOAISACH]) VALUES (N'Truyện dài')
INSERT [LOAISACH] ([TENLOAISACH]) VALUES (N'Truyện ngắn')
INSERT [NHAXUATBAN] ([TENNHAXUATBAN]) VALUES (N'Chính trị quốc gia Sự thật')
INSERT [NHAXUATBAN] ([TENNHAXUATBAN]) VALUES (N'Đinh Tị Books')
INSERT [NHAXUATBAN] ([TENNHAXUATBAN]) VALUES (N'Đông A')
INSERT [SACH] ([MASACH], [TENSACH], [MATG], [TENLINHVUC], [TENLOAISACH], [GIAMUA], [GIABIA], [LANTAIBAN], [TENNHAXUATBAN], [NAMXUATBAN]) VALUES (N'SA00001', N'Những ngày thơ ấu', N'TG007  ', N'Văn học', N'Truyện ngắn', 34000, 34000, 1, N'Kim Đồng', CAST(N'2000-12-12 00:00:00.000' AS DateTime))
INSERT [SACH] ([MASACH], [TENSACH], [MATG], [TENLINHVUC], [TENLOAISACH], [GIAMUA], [GIABIA], [LANTAIBAN], [TENNHAXUATBAN], [NAMXUATBAN]) VALUES (N'SA00002', N'truyện kiều', N'TG003  ', N'Văn học', N'Truyện ngắn', 30000, 30000, 1, N'Hội Nhà Văn', CAST(N'2001-01-30 00:00:00.000' AS DateTime))
INSERT [SACH] ([MASACH], [TENSACH], [MATG], [TENLINHVUC], [TENLOAISACH], [GIAMUA], [GIABIA], [LANTAIBAN], [TENNHAXUATBAN], [NAMXUATBAN]) VALUES (N'SA00003', N'Số đỏ', N'TG005  ', N'Văn học', N'Truyện dài', 45000, 45000, 2, N'Hội Nhà Văn', CAST(N'2009-02-11 00:00:00.000' AS DateTime))
INSERT [TACGIA] ([MATG], [TENTG], [NAMSINH], [NAMMAT], [QUEQUAN]) VALUES (N'TG002  ', N'Nguyễn Ngọc Tư', CAST(N'1976-01-01' AS Date), CAST(N'1900-01-01' AS Date), N'Cà Mau')
INSERT [TACGIA] ([MATG], [TENTG], [NAMSINH], [NAMMAT], [QUEQUAN]) VALUES (N'TG003  ', N'Nguyễn Du', CAST(N'1766-01-03' AS Date), CAST(N'1820-09-16' AS Date), N'Hà Tĩnh')
INSERT [TACGIA] ([MATG], [TENTG], [NAMSINH], [NAMMAT], [QUEQUAN]) VALUES (N'TG004  ', N'Nam Cao', CAST(N'1915-10-29' AS Date), CAST(N'1951-11-30' AS Date), N'Hà Nam')
INSERT [TAIKHOAN] ([USERNAME], [PASS_WORD]) VALUES (N'adm', N'adm')
INSERT [TAIKHOAN] ([USERNAME], [PASS_WORD]) VALUES (N'admin', N'123')
INSERT [TAIKHOAN] ([USERNAME], [PASS_WORD]) VALUES (N'viet', N'123')
USE [master]
GO
